:root {
	--color-primary: rgb(245, 218, 68);
	--color-secondary: #5445F5;
	--color-accent: #F5B745;
	--color-font: rgb(17, 20, 50);
	--color-font-light: rgb(63, 65, 56);
	--color-hover: var(--color-accent);
	--color-focus: var(--color-secondary);

	/* tags */
	--color-web: #E6AA4C;
	--color-politique: #E6CF4C;
	--color-bonjour: #E6BC4C;
	--color-poème: #E6914C;
	--color-philosophie: #E6A24C;
	--color-scout: #C9E64C;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 80ch;
	min-height: 100vh;
	padding: 1rem;
	background:
		linear-gradient(17deg, rgba(247, 250, 250, 0.7), rgba(247, 250, 250, 0.7), rgba(247, 250, 250, 0.7)),
		linear-gradient(17deg, var(--color-primary), rgba(247, 250, 250, 0.6) 16% 82%, var(--color-primary)),
		linear-gradient(159deg, var(--color-primary), rgba(247, 250, 250) 25% 82%, var(--color-primary));
	background-attachment: fixed;

	color: var(--color-font);
	font-family: 'Noto Serif Kannada Variable', serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
}


* {
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	margin: 2rem 0;
	color: var(--color-font);
	font-family: 'Quicksand Variable', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

h1 {
	font-size: 2.5rem;
	font-size: clamp(2.1rem, 4vw, 2.5rem);
	font-weight: 700;
}

h2 {
	font-size: 1.9rem;
	font-size: clamp(1.7rem, 4vw, 1.9rem);
	font-weight: 600;
}

h3 {
	font-size: 1.8rem;
	font-size: clamp(1.5rem, 4vw, 1.8rem);
}

h4 {
	font-size: 1.7rem;
	font-size: clamp(1.3rem, 4vw, 1.7rem);
}

h5 {
	font-size: 1.6rem;
	font-size: clamp(1.2rem, 4vw, 1.6rem);
}

h6 {
	font-size: 1.5rem;
	font-size: clamp(1.1rem, 4vw, 1.5rem);
}

p, a, ul {
	font-size: clamp(1rem, 4vw, 1.2rem);
	color: var(--color-font);
}