:root {
	--color-primary: rgb(240, 212, 52);
	--color-secondary: blue;
	--color-accent: orange;
	--color-grey: #a1a1a1;
	--color-font: rgb(17, 20, 50);
}

html {
	font-family: sans-serif;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 80ch;
	min-height: 100vh;
	padding: 1rem;
	line-height: 1.5;
	background:
		linear-gradient(17deg, var(--color-primary), rgba(245, 245, 246, 0.7) 6% 92%, var(--color-primary)),
		linear-gradient(159deg, var(--color-primary), rgba(245, 245, 246) 5% 87%, var(--color-primary));
	background-attachment: fixed;

	color: var(--color-font);
	font-family: serif;
	font-size: 16px;
}


* {
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
	color: var(--color-font);
	font-family: sans-serif;
}

h1 {
	font-size: 2.2rem;
	font-size: clamp(1.9rem, 4vw, 2.2rem);
}

h2 {
	font-size: 1.9rem;
	font-size: clamp(1.7rem, 4vw, 1.9rem);
}

h3 {
	font-size: 1.8rem;
	font-size: clamp(1.5rem, 4vw, 1.8rem);
}

h4 {
	font-size: 1.7rem;
	font-size: clamp(1.3rem, 4vw, 1.7rem);
}

h5 {
	font-size: 1.6rem;
	font-size: clamp(1.2rem, 4vw, 1.6rem);
}

h6 {
	font-size: 1.5rem;
	font-size: clamp(1.1rem, 4vw, 1.5rem);
}

p, a, ul {
	font-size: clamp(1rem, 4vw, 1.2rem);
}

a {
	color: var(--color-secondary);
}