---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cahier jaune</title>
	</head>
	<body>
		<a href="/">Page d'accueil</a>
		<a href="/about/">A propos de moi</a>
		<a href="/blog/">blog</a>
		<h1>A propos de moi</h1>
		<h2>... et de mon blog Astro !</h2>
		<p>Je suis juste en train d'apprendre à me servir d'Astro.js.</p>
		<p>Ce site évoluera à mesure que j'avancerai dans le tutoriel.</p>
		<p>
			A terme il devrait y a voir mes textes (poésie, politique,
			philosophie, inclassables).
		</p>
		<p>Et j'espère bien, quelques exemples de design génératif !</p>
	</body>
</html>
