---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "A propos de moi";

const identity = {
	firstName: "Romain",
	country: "France",
	occupation: "Développeur Frontend",
};

const skills = [
	"HTML",
	"CSS",
	"Javascript",
	"Typescript",
	"React",
	"Python",
	"Processing",
	"Rust",
	"Astro",
];
---

<BaseLayout pageTitle={pageTitle}>
	<h2>A propos d'Astro</h2>

	<p>Voici quelques faits à propos de moi:</p>
	<ul>
		<li>Je m'appelle {identity.firstName}.</li>
		<li>
			J'habite en {identity.country} et je travaille en tant que {
				identity.occupation
			} au pass Culture.
		</li>
		<li>
			J'ai jadis essayé de monter une boîte dans la culture :
			l'Explorateur Culturel, un agenda culturel local et en ligne. Fermé
			depuis je retenterai peut-être l'expérience un jour.
		</li>
	</ul>
	<p>Je connais un peu de :</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	<p>Il m'arrive(ait) de peindre un peu d'aquearelles, que de l'abstrait !</p>
</BaseLayout>
