---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cahier jaune</title>
	</head>
	<body>
		<a href="/">Page d'accueil</a>
		<a href="/about/">A propos de moi</a>
		<a href="/blog/">blog</a>
		<h1>Bienvenue sur mon blog</h1>
		<p>
			Pour l'instant, c'est là que je vais vous parler de mon voyage à
			apprendre Astro
		</p>
	</body>
</html>
