---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Le blog";
const allPosts = await Astro.glob("./blog/*.md");
const allPublishedPosts = allPosts
  .filter((post) => !post.frontmatter.draft)
  .sort(
    (postA, postB) =>
      new Date(postB.frontmatter.pubDate).getTime() -
      new Date(postA.frontmatter.pubDate).getTime()
  );
const categories = [
  ...new Set(allPublishedPosts.map((post) => post.frontmatter.tags).flat()),
];
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Cahier Jaune</h1>
  <ul>
    {allPublishedPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</BaseLayout>

<style>
  ul {
    padding: 0;
  }
</style>
