---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Cahier jaune";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Mon premier blog !</h2>
	<p>Fait avec amour et Astro.js.</p>
	<p>
		A terme il devrait y a voir mes textes (poésie, politique, philosophie
		et inclassables).
	</p>
	<p>
		J'y partagerai ma vie de développeur, quelques soucis que je trouve
		utiles de partager et plus généralement ce que j'ai envie
	</p>
	<p>Et j'espère bien, quelques exemples de design génératif !</p>
</BaseLayout>
