---
const { post } = Astro.props;

const date = new Intl.DateTimeFormat("fr-FR", { dateStyle: "short" }).format(
  new Date(post.frontmatter?.pubDate)
);
---

<li>
  <a href={post.url}>{post.frontmatter.title}</a>
  <p>{date}</p>
  <p class="description">{post.frontmatter.description}</p>
</li>

<style>
  li {
    list-style: none;
    margin-bottom: 2rem;
  }
  p,
  a {
    margin: 0 1rem;
  }
  a {
    font-weight: bold;
  }

  .description {
    color: var(--color-font-light);
  }
</style>
