---
import Social from "./Social.astro";
---

<footer>
    <p>
        Retrouvez moi sur :
        <Social platform="github" username="Aliochka" />
        <Social platform="twitter" username="alio_42" />
        <Social platform="piaille" extension=".fr" username="@romain_chaffal" />
        <Social
            platform="linkedin"
            extension=".com/in"
            username="romain-chaffal"
        />
        !
    </p>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
